/* Custom properties */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black); /* Default text color */
  --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* Font size custom properties */
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;
  /* Font weight  properties */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  /* Line height properties */
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;
  --section-header-align: center; /* horizontal align for section headers */
  --section-tagline-transform: uppercase;

}

html {
  font-size: 62.5%;
}

/* Set font-family for section headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

/* Set foreground color */
body, a {
  color: var(--text-color);
}

.section-header {
  text-align: var(--section-header-align); /* Horizontal alignment */
}

/* Targeting the section-tagline class */
.section-tagline {
  color: var(--color-primary);
  font-family: var(--font-family-title);
  text-transform: var(--section-tagline-transform); /* Text transformation */
  font-weight: var(--font-weight-bold); /* Font weight */

/* Revisit the section-tagline and card-category declarations and reset their color to color-primary */
 .card-category {
  color: var(--color-primary);
}

/* Set font-family for body */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
}

/* Style the anchor elements */
a {
  text-decoration: none;
  color: inherit; /* Inherit  from parent */
}
